// default config
exec default.cfg

// modifed config 
exec config.cfg

// usermade autoexec
exec autoexec.cfg

//commands
stuffcmds

// demos
//startdemos demo1 demo2 demo3



Echo =============================
Echo check out the new comands
echo Zoom for the zoom function
echo Dev for dev bindings
Echo =============================
