# ignored folders
.stversions/
.obsidian/
.autosave/
autosave/
lq1/screenshots/
working/
releases/

# ignored files
lq1/maps/+make-make.desktop
lq1/maps/.bmodelbspbak.7z
lq1/config.cfg
lq-pl.png
lq-pl.xcf
.directory
.nomedia
*-crash.txt
*.sav
*.log
*.texinfo
*.pts
*.prt
*.png~
*.kra~
*.texinfo.json
*.cfg
*.kate-swp
*autosave.kra

# included files
!lq1/default.cfg
!lq1/dev.cfg
!lq1/zoom90.cfg
!lq1/zoom120.cfg

