#ignored folders
.stversions/
.obsidian/
.autosave/
autosave/
lq1/screenshots/

#ignored files
lq1/maps/+make-make.desktop
lq1/maps/.bmodelbspbak.7z
lq1/config.cfg
docs/lqlogos/lq-pl.png
docs/lqlogos/lq-pl.xcf
.directory
.nomedia
*-crash.txt
*.sav
*.log
*.texinfo
*.pts
*.prt
*.png~
*.kra~
*.json
*.cfg
*.kate-swp

#included files
!lq1/default.cfg
!lq1/dev.cfg
!lq1/zoom90.cfg
!lq1/zoom120.cfg

