[Desktop Entry]
Categories=Network;Internet;Utilities;Administration;Settings;
Comment=Build LibreQuake
Exec=python build.py
Icon=text-x-makefile
Name=Build LibreQuake
Path=/home/lavender/LQ_Dev/LibreQuake
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
Type=Application
