#!/usr/bin/env xdg-open

[Desktop Entry]
Name=compilewads
Comment=compiles my wads
Exec=sh ./.compilewads.sh
Icon=bash
Type=Application
Categories=Network;Internet;Utilities;Administration;Settings;

